{% extends "auctions/layout.html" %}

{% block body %}
{% for p in product %}
<div class="card mb-3" style="max-width: 1080px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ p.image }}" class="img-fluid rounded-start" alt="{{ p.title }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ p.title }}</h2>
          <p class="card-text">{{ p.description }}</p>
          <br>
          <h4 class="card-text">Listed By: {{ p.owner }}</h4>
          <br>
          <h4 class="card-text">Minimum Bid: Rs.{{ p.price }}</h4>
          <br>
          <br>
          <form>
            <label class="form-label">Your Bid</label>
            <input type="number" name="price" class="form-control">
            <br>
            <button type="submit" class="btn btn-primary">Place your bid</button>
          </form>
          <br>
          <br>
            <!--{%  %}-->
              <form action="{% url 'Add_watchlist' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ product.title }}" name="title">
                <button type="submit" class="btn btn-danger">Remove from watchlist</button>
              </form>
            <!--{% else %}-->
              <form action="{% url 'Sub_watchlist' %}" method="POST">
                <!--{% csrf_token %}-->
                <input type="hidden" value="{{ product.title }}" name="title">
                <button type="submit" class="btn btn-success">Add to Watchlist</button>
              </form>
            <!--{% endif %}-->
        </div>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}