{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<div class="col-md-4">
    <form action="{% url 'filterPage' %}" method="POST">
        {% csrf_token %}
        <label class="form-label">Category</label>
        <select name="category" class="form-select">
            {% for cat in category %}
            <option>{{ cat }}</option>
            {% endfor %}
        </select>
        <button type="submit" style="color: white" class="btn btn-primary">Filter</button>
    </form>
</div>

<br>
<br>

<div class="row mx-3">
    {% for d in display %}
    <div class="card" style="width: 18rem;">
        <img src="{{ d.image }}" class="card-img-top" alt="{{ d.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ d.title }}</h5>
            <p class="card-text">{{ d.description }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ d.category }}</li>
            <li class="list-group-item">{{ d.price }}</li>
            <li class="list-group-item">{{ d.owner }}</li>
        </ul>
        <div class="card-body">
            <form action="{% url 'list' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ d.title }}" name="title">
                <button type="submit" style="color: white" class="btn btn-primary">Place your Bid</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

TODO
{% endblock %}